{% load static %}
<header class="p-3 mb-3 border-bottom">
  <nav class="navbar navbar-expand-md navbar-white fixed-top bg-white">
    <div class="container-fluid">
      <!-- Logo -->
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <img src="{% static 'img/logo.png' %}" width="32" height="28" class="bi">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Nav bar tabs -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-item' %}">Add Product</a>
          </li>
        </ul>

        <!-- Cart -->
        <div class="nav-item text-end">
          <a class="nav-link mx-2 text-uppercase" href="{% url 'cart-view' %}">
            <i class="bi bi-cart3" aria-hidden="true"></i> Cart
            <span id="lblCartCount" class="badge badge-warning ">

              {% with cart_qty=cart|length%}
              {% if cart_qty > 0 %}
              {{cart_qty}}
              {% else %}
              0
              {% endif %}

              {% endwith %}
            </span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
<br>

<!-- Button back -->
<div class="container">
  <button class="btn btn-light rounded-pill px-3" onclick="history.back()" type="button">
    <i class="bi bi-arrow-left-short"></i>
  </button>
</div>