{% load static %}
<div class="col">
    <div class="card h-100">
        <div class="border border-light p-2 mb-3" >
        {% if item.photo %}
            <img src="{{ item.photo.url }}" class="card-img-top" hight="150px" alt="{{ item.name }}">
        {% else %}
            <img src="{% static 'img/no-image.png' %}" class="card-img-top"  hight="150px" alt="No image">

        {% endif %}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5><hr>
            <div style="float: right;">
            <a class="link-secondary btn" href="{% url 'item-info' item.pk %}">Detail ></a>
        </div>
        <div style="float: left;"><h2 class="card-text pricing-card-title">{% if item.currency.name == 'usd' %}${% else %}€{% endif %}{{ item.price }}</h2></div>
        <p></p>
        <br>
        <hr>
            <div class="btn-group" role="group" style="float: right;">
                <form method="post" action="">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning" disabled>Add to cart
                        <i class="bi bi-bag-plus-fill"></i>
                    </button>
                </form>
                <a href="">
                    <button type="submit" class="btn btn-primary">Buy now
                        <i class="bi bi-cart-check"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
  </div>