{% load static %}
<div class="col-md-4 d-flex align-items-stretch">
    <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'item-info' item.pk %}">


        <div class="card border p-2 mb-3 h-100" >
            <div class="row align-items-center border border-light p-2 mb-3" style="height: 350px">
            {% if item.photo %}
                <img src="{{ item.photo.url }}" class="card-img mx-auto" alt="{{ item.name }}">
            {% else %}
                <img src="{% static 'img/no-image.png' %}" class="card-img mx-auto"  alt="No image">

            {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5><hr>
                <div style="float: right;">
            </div>
            <div style="float: left;"><h2 class="card-text pricing-card-title">{% if item.currency.name == 'usd' %}${% else %}€{% endif %}{{ item.price }}</h2></div>
            <p></p>
            <br>
            <br>
            <hr>
            </div>
        </div>

    </a>
</div>