{% load static %}

<a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'item-info' item.pk %}">
    <div class="col">
        <div class="card h-100">
            <div class="border border-light p-2 mb-3" >
            {% if item.photo %}
                <img src="{{ item.photo.url }}" class="card-img-top" hight="150px" alt="{{ item.name }}">
            {% else %}
                <img src="{% static 'img/no-image.png' %}" class="card-img-top"  hight="150px" alt="No image">

            {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5><hr>
                <div style="float: right;">
            </div>
            <div style="float: left;"><h2 class="card-text pricing-card-title">{% if item.currency.name == 'usd' %}${% else %}€{% endif %}{{ item.price }}</h2></div>
            <p></p>
            <br>
            <br>
            <hr>
            </div>
        </div>
    </div>
</a>